{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "semi": 0,
        "allowShortCircuit": true,
        "allowTernary": true,
        "allowTaggedTemplates": true,
        "no-unused-expression": false
    },
    "ecmaFeatures": {
        "experimentalObjectRestSpread": true
    }
}