@import (css) url('https://fonts.googleapis.com/css?family=Orbitron');
@import (css) url('https://fonts.googleapis.com/css?family=Staatliches');

body {
    background: #212b42;

    #content canvas {
        margin: 0 auto;
        margin-top: 20px;
    }
}

#content {
    position: relative;
    width: 760px;
    margin: 0 auto;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
    }

    .results {
        text-align: center;
        color: #fff;

        .header {
            font-family: Staatliches;
            font-size: 48px;
            color: #757575;
            letter-spacing: 4px;
        }

        .score {
            font-family: Orbitron;
            font-size: 48px;
        }

        .restart {
            font-family: Orbitron;
            color: #757575;
        }
    }
}

.subtext {
    color: #eee;
    text-align: center;
    font-family: Helvetica, Arial;
    margin-top: 20px;
    font-size: 1em;
    line-height: 1.4;

    a {
        color: #3eb2f9;
        text-decoration: none;

        &:hover {
            color: #7ec9f7;
        }
    }
}